@model IEnumerable<CadeteriaBugMan.Models.Cadete>
@{
    ViewData["Title"] = "Cadetes";
    ViewData["tam"] = Model.Count();
}

<h2>@ViewData["Title"]: @ViewData["tam"]</h2>

<div class="list">
@foreach (var item in Model)
{
    <div class="toggle-list">
        <section class="panel">
            <p class="name-cad">@item.Name</p>
            <p class="arrow-btn">▼</p>
        </section>
        <article class="panel-info">
            <p><b>Cadete: </b>@item.Id</p>
            <p><b>Nombre: </b>@item.Name</p>
            <p><b>Dirección: </b>@item.Address</p>
            <p><b>Tel: </b>@item.Phone</p>

            <a class="btn" href="#open-modal">Borrar</a>
                <div id="open-modal" class="modal-window">
                    <div>
                        <h3>Quieres borrar a: @item.Name?</h3>
                        <a class="btn btn-color-red" asp-route-Id="@item.Id" asp-action="BorrarCadete">Borrar</a>
                        <a href="#" class="modal-close btn">Cerrar</a>
                    </div>
                </div>
        </article>
    </div>
}
</div>